<div class="landing-page-buttons">
  {{#link-to 'new-game'}}
    <button class="btn btn-primary btn-login btn-landing-page" name="game">Play a Game!</button>
  {{/link-to}}

  {{#link-to 'profile' session.uid}}
    <button class="btn btn-primary btn-default btn-landing-page" name="profile">View your Profile</button>
  {{/link-to}}
</div>
<!-- button to display all users in database? -->
