{{#link-to 'new-game'}}
  <button name="game">Play a Game!</button>
{{/link-to}}

{{#link-to 'profile' session.uid}} <!-- will need to pass in active user session id. -->
  <button name="profile">View your Profile</button>
{{/link-to}}
<!-- button to display all users in database? -->
