<div class="center-text">
  <h1 class="create-game-header">Create a Game</h1>
  <h2>{{model.username}}</h2>
  <form class="create-game-form">
    <label for="time">select your difficulty</label>
    <br>
      {{#x-select value=difficulty id="game-difficulty" class="game-form-input"}}
        <option disabled="disabled" selected="selected">Choose Difficulty</option>
        {{#x-option value="easy"}}Easy{{/x-option}}
        {{#x-option value="medium"}}Medium{{/x-option}}
        {{#x-option value="hard"}}Ken Jennings{{/x-option}}
      {{/x-select}}
  <br>
    <label for="time">select the round length</label>
    <br>
      {{#x-select value=time id="game-time" class="game-form-input"}}
        <option disabled="disabled" selected="selected">Time Limit</option>
        {{#x-option value=30}}0:30{{/x-option}}
        {{#x-option value=60}}1:00{{/x-option}}
        {{#x-option value=90}}1:30{{/x-option}}
        {{#x-option value=120}}2:00{{/x-option}}
      {{/x-select}}
  <br>
      <div>
        <button class="create-game-button btn btn-default" {{action 'createGame' model}}>Create Game</button>
      </div>
  </form>
</div>
