<h5><span class="questionCategory"></span></h5>
<h3><span class="questionBody"></span></h3>

{{#if showGameForm}}
<label for="answer">Answer:</label>
{{input name="answer" value=answer id="answer" type=text}}
<button{{action 'nextQuestion'}}>Submit Answer</button>
{{else}}
  <button {{action 'startRound'}}>Start</button>
{{/if}}
