// Globals
a, a:focus, a:active {
  text-decoration: none;
  color: #333;
  transition: color 0.4s linear;
  &:hover {
    color: #006B6B;
  }
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  // color: rgba(234, 232, 204, 0.8);
  color: #333;
  background: url('/assets/images/fabric-of-squares.png');
  h1 {
    font-weight: 800;
  }
  h3 {
    font-weight: 400;
  }
  h4 {
    font-weight: 400;
  }
}

.center-text {
  text-align: center;
}

.main-container {
  margin-top: 6%;
}

// Navbar
.navbar-default {
  background: transparent;
  color: inherit;
}

//Index
.header-logo {
  img {
    width: 35rem;
    margin-left:35%;
    margin-top: 8%;;
    opacity: 0.75;
  }
}
