<nav class="navbar navbar-fixed-left navbar-minimal animate" role="navigation">
  <div class="navbar-toggler animate">
    <span class="menu-icon"></span>
  </div>
  <ul class="navbar-menu animate">
    {{#if session.isAuthenticated}}
      <li>
        <a href="#" class="animate">
          <span class="desc animate"> Profile </span>
          <span class="glyphicon glyphicon-user"></span>
        </a>
      </li>
      <li>
        <a href="#" class="animate">
          <span class="desc animate"> Play a Game </span>
          <span class="glyphicon glyphicon-play"></span>
        </a>
      </li>
      <li>
        <a href="#" class="animate" {{action "signOut"}}>
          <span class="desc animate"> Sign Out </span>
          <span class="glyphicon glyphicon-minus"></span>
        </a>
      </li>
   {{/if}}
      <li>
        <a href="#" class="animate">
          <span class="desc animate"> About </span>
          <span class="glyphicon glyphicon-comment"></span>
        </a>
      </li>
  </ul>
</nav>
<div class="container main-container">
  {{outlet}}
</div>
