{{#if session.isAuthenticated}}
  <h1 class="center-text">play</h1>
  <div class="header-logo">
    <img src="/assets/images/mustachetrivia.png">
  </div>
  <h3 class="center-text">i mustache you a question...</h3>
{{else}}
  <div class="row center-text">
    <div class="col-md-4 col-md-offset-2">
      {{signin-form signInPassword="signInPassword"}}
    </div>
    <div class="col-md-4">
      {{password-signup signUp="signUp"}}
    </div>
  </div>
  <div class="header-logo">
    <img src="/assets/images/mustachetrivia.png">
  </div>
  <h3 class="center-text">i mustache you a question...</h3>
{{/if}}
