<div class="profile-header">
  <div class="profile-image col-md-2 col-md-offset-3">
    <img src={{model.profileImageURL}}>
  </div>
  <div class="profile-name col-md-5">
    <h1>{{model.username}}</h1>
  </div>
  <hr>
</div>
